.home {
  a:hover{
    text-decoration: none;
  }
  .hero {
    .content {
      padding-top: 113px;
      .slogan {
        font-family: "Montserrat", sans-serif;
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: 0em;
        text-align: left;
      }
      .info {
        padding-right: 200px;
        font-family: "Montserrat", sans-serif;
        font-size: 40px;
        font-weight: 300;
        line-height: 56px;
        text-align: left;
      }
      .cta {
        width: 230px;
        height: 56px;
        justify-content: center;
        align-items: center;
        padding: 16px 40px;
        gap: 10px;
        background: #02b5ee;
        border: none;
      }
      .cta:hover{
        background-color: #03c7ff;
        color: #fff;
      }
      .link {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        color: white;
      }
      .link:hover{
       text-decoration: none;
      }
    }
    .partners {
      padding-top: 130px;
      .partner:first-of-type{
        margin-top: 20px;
      }
      .information {
        text-align: center;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
      }
      .cta {
        width: 230px;
        height: 56px;
        justify-content: center;
        align-items: center;
        padding: 16px 40px;
        gap: 10px;
        background: #02b5ee;
        border: none;

        .link {
          font-family: "Montserrat", sans-serif;
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
          line-height: 24px;
          color: white;
        }
      }
      .cta:hover{
        background-color: #03c7ff;
        color: #fff;
      }
      .link:hover{
        text-decoration: none;
      }
    }
  }
  @media screen and (max-width: 767px) {
      .content{
        text-align: center;
      }
      .info{
        text-align: center;
        padding: 20px;
      }
      .partner{
        padding: 5%;
      }
  }
  .services {
    .content {
      padding-top: 120px;

      .heading {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 48px;
      }
      .info {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
        padding-bottom: 40px;
      }
    }
    .service {
      padding-bottom: 7%;

      i:hover{
       transform: scale(1.5);
      }
    }
    .service::after {
      content: " ";
      background-color: #02b5ee;
      content: " ";
      height: 8px;
      position: absolute;
      top: -20px;
      width: 95%;
      z-index: 10;
      left: 0;
    }
    .name {
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
    }
    .information {
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 28px;
    }
    .link {
      color: black;
      background-color: transparent;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      text-transform: uppercase;
    }
    .cta {
      width: 400px;
      height: 50px;
      padding: 16px 10px;
      background: #02b5ee;
      border: none;
      gap: 10px;
      justify-content: center;
      align-items: center;

      .link {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        color: white;
      }
    }
    .cta:hover{
      background-color: #03c7ff;
      color: #fff;
    }
  }
  .values {
    margin-top: 120px;
    .content {
      margin-bottom: 40px;
      .heading {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 48px;
      }
    }
    .value {
      i{
       color: #02B5EE;
       width: 33px;
       height: 33px;
       display: inline-block;
      }
      .title {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        display: inline-block;
      }
      .info p {
        padding-top: 44px;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
      }
      .info::after {
        background-color: #d2d2d2;
        content: " ";
        height: 1px;
        left: 0;
        position: absolute;
        top: -10px;
        width: 95%;
        z-index: 10;
      }
    }
  }
  .testimonials {
    margin-top: 120px;
    .heading {
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      line-height: 48px;
    }
    .person {
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      text-transform: uppercase;
    }
    .position {
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      text-transform: capitalize;
    }
    .testimonial-content {
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 28px;
    }
    .carousel-item .active{
      background-color: #02b5ee;
    }
    .carousel-control-prev{
      position: absolute;
      right: 30px;
      left: 80%;
    }
    .carousel-control-next{
      position: absolute;
    }
  }
  .contact {
    margin-top: 120px;
    
    .heading {
      border-top: 8px solid #02B5EE;
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 40px;
      line-height: 56px;
    }
    .info {
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 28px;
    }
    form {
      label {
        font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 28px;
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px 0;
        font-size: 16px;
        color: black;
        pointer-events: none;
        transition: 0.5s;
      }
      .form-control {
        width: 100%;
        padding: 10px 0;
        font-size: 16px;
        color: #fff;
        margin-bottom: 30px;
        border: none;
        border-bottom: 1px solid black;
        outline: none;
        background: transparent;
      }
      .form-control::placeholder {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
      }
      input:focus ~ label,
      input:valid ~ label {
        top: -20px;
        left: 0;
        color: #03e9f4;
        font-size: 12px;
        border:none;
      }
      .submit-btn {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        background: #02b5ee;
        color: white;
        padding: 16px 40px;
        border: none;
      }
      .submit-btn:hover{
        background-color: #03c7ff;
        color: #fff;
      }
      p {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;

        span {
          text-decoration: underline;
        }
      }
    }
  }
}
